.test {
    height:70px;
    width:150px;
    color:primary;
    background-color: rgba(0, 221, 255, 0.082);
    font-size: 15px;
    
}

.test1 {
    height:70px;
    width:150px;
    color:primary;
    background-color: rgb(0, 221, 255);
    font-size: 15px;
}

.counter {
    height:50px;
    width:100px;
    margin-left: auto;
    margin-right: auto;
}

p.errMsg {
    font-size: 30px;
    color: red;
}

p.goMsg {
    font-size: 35px;
    color: green;
}

.cobain {
    color:red;
    font-size:30px;
}