.card-background-page {
    
      ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 3.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle1 {
        font-size: 2.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

      .card-subtitle2 {
        font-size: 1.5em;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
      }
        
        
      
    
    }

    .img-opacity{
      opacity: 0.8;
      filter: opacity(1);
      // src: "assets/img/food.jpg";

    }